.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 50px 20px;
    position: relative;
    border-bottom:15px solid #FCF4F4;;
    z-index: 10;
}

.logo {
    height: 40px;
    cursor: pointer;
}

/* new starting here*/

.megaMenu {
    flex-grow: 1;

    position: relative;
}

.menuList{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menuItem {
    position: relative;
    margin: 0 15px;
    padding: 5px;
    padding: 10px;
}

.menuItem a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menuItem:hover {
    background-color: #E6EAE4;
    border-radius: 5px;
}
.menuItem a:hover {
    color: #575656;
}
.right {
    display: flex;
    align-items: center;
    
}

.link {
    margin-left: 15px;
    color: black;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.dropdown {
    position: absolute;
    top: 45px;
    left: 130px;
    background-color: #FCF4F4;
    padding: 10px;
    box-shadow: 0px 4px 8px black (0, 0, 0, 0.1);
    z-index: 1000;
    width: 1479px;
    margin-left: calc(-50vw + 50%);

    z-index: 9999;
}

.dropdownContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.subcategory {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin: 0 10px;
}

.subcategory h4 {
    font-size: 16px;
    color: #333;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subcategory ul {
    list-style: none;
    padding: 0;
    
}
.subcategory .viewall a {
    text-decoration: none;
    color: olivedrab;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.subcategory .viewall a:hover{
    color: rgb(27, 171, 27);
}
.subcategory li a {
    text-decoration: none;
    color: rgb(146, 145, 145);
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    gap: 20px;
}

.subcategory li a:hover {
    color: black;
}



.navbar {
    flex-grow: 1;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: 500px;
}

.middle {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.right {
    display: flex;
    align-items: center;
    gap: 5px;
}

.iconCart,
.iconSearch,
.iconWishlist,
.iconProfile {
    margin-left: 15px;
    width: 17px;
    color: black;
    cursor: pointer;
}

/* Search Input */
.searchInput {
    display: flex;
    align-items: center;
    border: 2px solid #e5e7eb;
    border-radius: 50px;
    padding: 0.3rem 0.8rem;
    background-color: #f9fafb;
    width: 250px;
  }
  
  .searchInput input {
    border: none;
    outline: none;
    background: transparent;
    padding: 0.1em;
    font-size: 1rem;
    width: 100%;
    color: black;
  }
  
  .iconSearch {
    color: #6b7280;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 10px;
    transition: color 0.3s ease-in-out;
  }
  
  .iconSearch:hover {
    color: #3b82f6;
  }