.basketContainer {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0 auto;
}

.basketMain {
    padding: 30px 100px 30px;
    margin: 10px;
}

.basketHeader {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
}

.basketItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.basketImage img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.basketDetails h3 {
    color: #CEA5A7;
    margin-bottom: 5px;
}

.basketDetails p {
    color: #555;
    margin: 5px 0;
    font-size: 0.9rem;
}

.basketActions {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
}

.quantityBtn {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #252525;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 0.9rem;
}

.quantityBtn:hover {
    background-color: #f1f1f1;
}

.moveWishlistBtn,
.removeBtn {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 0.9rem;
    background-color: #E74C3C;
    color: rgb(253, 252, 252);
}

.moveWishlistBtn:hover,
.removeBtn:hover {
    background-color: #c47c74;
}

.basketSummary {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: #333;
}

.checkoutBtn {
    display: block;
    width: 120px;
    padding: 20px ;
    background-color: #e67979;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    margin: auto;
}
.checkoutBtn:hover{
    background-color: #E74C3C
    ;
}
