.authContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    padding: 40px;
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.authContainer h2 {
    margin-bottom: 0px;
    color: #555;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.authContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.authContainer input[type="email"],
.authContainer input[type="password"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.authContainer .codeInputs {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 20px 0;
}

.authContainer .codeInputs .codeBox {
    width: 50px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    color: #555;
}

.authContainer button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #d5ddd2;
    color: #555;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
}

.authContainer button:hover {
    background: #c2cfbf;
}

.textButton {
    display: block;
    text-align: center;
    padding-bottom: 20px;
    cursor: pointer;
    color: #a87878;
}

.textButton:hover {
    text-decoration: underline;
}